# Функции
### Домашнее задание

#### 1.
Почему возникла ошибка? Объясните и исправьте.

In [13]:
def factorial(n):
    f = 1
    for i in range(2, n + 1):
        f = f * i
    return f

print(factorial(3))
#print(f)

6

**Объяснение:** Локальная переменная f была объявленная в функции, и данная переменная f не доступна из глобального пространства. 
<br><br>

#### 2.
Почему переменная S после запуска функции сохранила значение ноль?

In [34]:
S = 0
def sum(n, m):
    S = n + m
    return S

print(sum(3, 4))
print(S)

7
0

**Объяснение:** Потому, что в начале функции было присвоенно занчение ноль, переменной S в глобальном пространстве имен, и при обращении к переменной S, мы обращаемся к глобальной переменной, а в локальном пространстве имен, присваемое глобальное значение переменной S не участвует.
<br><br>

#### 3.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере с `res`.

In [2]:
def mult(*, q, w, e, r, t, y):
    return q + w + e + r + t + y
res = mult(q=1, w=2, e=3, r=4, t=5, y=6)

**Объяснение:** В данном коде, идет требование, указать все парметры явно.
<br><br>

#### 4.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [14]:
def power(a, s, *, d):
    res = a ** s ** d
    print(res)
    
power(5, 6, d = 4)

733036532959081958493044038604220573003076872623105825587799726719137081664242889213090239865705342028379233496941111919796792708971905802219444504019006104332493489107721493845412453899793946281899700834091715387952751830219643610349979360602856524762182507733859966860842500858768382394753399581156286449561160783713877222895092808637540218804927005623038569306841733685039433236910980897592858987002063924013988530964522502594931500371157643132061597303111367258489022159044511817010529399435883286083212695075903281596592105429678751689059533454035251548334986509241552406961532864939006610513597608967402985707857424513196823658884413602881077337616965779954194874666031301491450438900838443296921074535307486056701074634195717288344127864971903293281532919139948732795811179970577905638353069459326437465009401802406334569163539571111057039009740125070184999823974525412495495402254164218902587890625

**Объяснение:** В данном коде, идет требование, указать все парметры позиционно. Т.е. в переменные a и s должны передаться значения согласно позиций (a = 5, s = 6,) а после мы можем присвоить значения переменой d = 4 по заданной позиции.
<br><br>

#### 5.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [5]:
def mult2(*args):
    res = 1
    for i in args:
        res += sum(i)
    return res

List = [1, 2, 3, 4, 5, 6, 7]
print(mult2(List))

29

**Объяснение:** В данном коде, идет ошибка не поддерживаемые типы операндов, мы не можем складывать два разных типа операндов, в этом случае можно заменить res += i на res += sum(i)
<br><br>

#### 6.
Почему возникла ошибка? Объясните и исправьте.

In [42]:
def some_function(a, b, *args, **kwargs):
    pass

**Объяснение:** По документационному соглашению, списковые переменные при объявлении в функции должны идти после безымяных списков.
<br><br>

#### 7.
Почему не был создан новый список при повторном запуске функции? Объясните и исправьте.

In [41]:
def to_buy(*new_items, shopping_list = None):
    if not shopping_list:
        shopping_list = []
    for i in new_items:
        shopping_list.append(i)
    return shopping_list

monday = to_buy('яблоки', 'молоко', 'хлеб')
print(monday)

tuesday = to_buy('груши', 'йогурт', 'мясо')
print(tuesday)

['яблоки', 'молоко', 'хлеб']
['груши', 'йогурт', 'мясо']

   **Объяснение:** При созданнии функции, в качестве значения по умолчанию указан пустой список, и интерпритатор саздает экземпляр списка. При обращении к ниму, интерпритатор будет каждый раз подстовлять значения по умолчанию, вместо созданного нового пустого списка.
<br><br>

#### 8.
Измените данную функцию так, чтобы она распечатывала названия продуктов из словаря в примере.

In [11]:
def print_all(**kwargs):
    for i in kwargs.items():
        print(i)

print_all(**{'1' : 'яблоки', '2' :'молоко', '3' : 'хлеб', '4' : 'груши', '5' : 'йогурт', '6' : 'мясо'})

('1', 'яблоки')
('2', 'молоко')
('3', 'хлеб')
('4', 'груши')
('5', 'йогурт')
('6', 'мясо')

#### 9.
Программисты договорились, что переменные такого рода являются.. *(вопрос из лекции)*

In [0]:
TOKEN = ...

**Ответ:** Константой
<br>
<br>

#### 10.
Напишите функцию, которая с помощью рекурсии считает сумму последовательности с шагом m. В качестве аргументов подаются целые положительные числа n (последний элемент последовательности) и m (шаг последовательности). Считается, что все члены последовательности являются целыми положительными числами.

Пример:

```
sum_of_seq(5, 1)
15
 
sum_of_seq(5, 9)
5

sum_of_seq(8, 2)
20
```

In [15]:
def sum_of_seq(n , m):
    if n >= 1:
        return n + sum_of_seq(n- m, m)
    else:
        return 0

sum_of_seq(5, 1), sum_of_seq(5, 9), sum_of_seq(8, 2)

(15, 5, 20)

#### 11.
Напишите функцию, которая возводит число в положительную степень с помощью рекурсии. В качестве аргументов подаются целые положительные числа n (число) и m (степень).

In [24]:
def power(n , m):
    if m == 0:
        return 1
    t = power(n * n, m // 2)
    if m % 2:
        t *= n
    return t
power(5, 13), power(2, 7), power(13, 5)

(1220703125, 128, 371293)

#### 12.
Напишите функцию, которая возводит число в отрицательную степень число с помощью рекурсии. В качестве аргументов подаются целое положительное число n (число) и целое отрицательное число m (степень).

In [27]:
def negative_power(n, m):
    if n == 0:
        return 0
    elif m == 0:
        return 1
    elif m == 1:
        return n
    elif m < 0:
        return 1 / (n * negative_power(n, -m - 1))
    else:
        return n * negative_power(n, m -1)

negative_power(2, -4), negative_power(4, -5), negative_power(8, -2)

(0.0625, 0.0009765625, 0.015625)

#### 13.

Напишите функцию, которая находит число Фиббоначи по его номеру. В качестве аргумента подается целое положительное число n (число).

In [29]:
def fib(n):
    if n in (1, 2):
        return 1
    return fib(n -1) + fib(n - 2)

fib(4)

3